{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
<div class="form-group">
    <div class="form-contorl">
        <div class="">
            {{ form_label(form.name) }}
        </div>

    </div>

    {{ form_widget(form.name,{'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.name) }}

</div>
<div class="form-group">
    <div class="form-contorl">
        {{ form_label(form.date_start) }}
    </div>
    {{ form_widget(form.date_start) }}
    {{ form_errors(form.date_start) }}
</div>
<div class="form-group">

        {{ form_label(form.date_end) }}


    {{ form_widget(form.date_end) }}
    {{ form_errors(form.date_end) }}
</div>
<div class="form-group">
    <div class="form-contorl">
        {{ form_label(form.room) }}
    </div>
    <div class="">
        {{ form_widget(form.room, {'attr': {'class': 'custom-select my-1 mr-sm-2'}}) }}
    </div>

    {{ form_errors(form.room) }}
</div>

<div class="modal-footer">

    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    {{ form_row(form.submit) }}
</div>
{{ form_end(form) }}

