{% extends 'base.html.twig' %}

{% block title %}UserPanel{% endblock %}

{% block body %}
    <div style="margin: 3%">
        <div class="row">
            <div class="js-classes-table">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Lp.</th>
                        <th>Nazwa</th>
                        <th>Data i godzina rozpoczęcia</th>
                        <th>Trener prowadzący</th>
                        <th>Akcja</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for class in userClasses %}
                        {{ include('user_panel/_classRow.html.twig') }}
                    {% else %}
                        <tr>
                            <td colspan="4">Get liftin'!</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <th>Total</th>
                        {#<th class="js-total-weight">{{ totalWeight }}</th>#}
                        <td>&nbsp;</td>
                    </tr>
                    </tfoot>
                </table>

            </div>

        </div>
        <div class="row">{#TODO to trzeba okakować #}
            {{ userData.name }}
            {{ userData.surname }}
            {{ userData.phoneNumber }}
        </div>

        <div class="form_edit">
            {{ form_start(form) }}
            {# {{ form_widget(form) }} #}
            <div class="form-group">
                <div class="form-contorl">
                    <div class="">
                        {{ form_label(form.email,'Nazwa zajęć') }}
                    </div>

                </div>

                {{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.email) }}

            </div>
            <div class="form-group">
                <div class="form-contorl">
                    {{ form_label(form.name, 'Data i godzina rozpoczęcia') }}
                </div>
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="form-group">

                {{ form_label(form.surname, 'Data i godzina zakończenia') }}


                {{ form_widget(form.surname) }}
                {{ form_errors(form.surname) }}
            </div>
            <div class="form-group">
                <div class="form-contorl">
                    {{ form_label(form.phone_number, 'Wybierz sale') }}
                </div>
                <div class="">
                    {{ form_widget(form.phone_number, {'attr': {'class': 'custom-select my-1 mr-sm-2'}}) }}
                </div>

                {{ form_errors(form.phone_number) }}
            </div>

            <div class="modal-footer">
                <a class="btn btn-secondary" href="{{ path('zajecia_index') }}">Zamknij</a>
                {{ form_row(form.submit, {'label': 'Aktualizuj'}) }}
            </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {#{{ parent() }}#}

    {{ encore_entry_script_tags('classes') }}
    {#<script src="{{asset('public/js/classes.js') }}"></script>#}
    <script>

        $(document).ready(function (){
            var $wrapper =$('.js-classes-table');

            //RepLogApp.initialize($table);
            var repLogApp = new RepLogApp($wrapper);
        });
    </script>
{% endblock %}
