{% extends 'base.html.twig' %}

{% block title %}Zajecia index{% endblock %}

{% block body %}
    <h1>Zajecia index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Trener</th>
                <th>Data rozpoczecia</th>
                <th>Data zakonczenia</th>
                <th>Sala</th>
                <th>pojemność sali</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for zajecium in zajecias %}
            <tr>
                <td>{{ zajecium.id }}</td>
                <td>{{ zajecium.idTrener.imie  }} {{ zajecium.idTrener.nazwisko }}</td>
                <td>{{ zajecium.data ? zajecium.data|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ zajecium.datazak ? zajecium.datazak|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ zajecium.sala.nazwa }}</td>
                <td>{{ zajecium.sala.maxuzytkownikow }}</td>

                <td>
                    <a href="{{ path('zajecia_show', {'id': zajecium.id}) }}">show</a>
                    <a href="{{ path('zajecia_edit', {'id': zajecium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('zajecia_new') }}">Create new</a>
{% endblock %}
