{% extends 'base.html.twig' %}

{% block title %}Zajecia{% endblock %}

{% block body %}
    <h1>Zajecia</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zajecium.id }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ zajecium.data ? zajecium.data|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('zajecia_index') }}">back to list</a>

    <a href="{{ path('zajecia_edit', {'id': zajecium.id}) }}">edit</a>

    {{ include('zajecia/_delete_form.html.twig') }}
{% endblock %}
